{% extends "template.html" %}

{% block titre %} Résultats {% endblock %}

{% block corps %}
    <h1>
        {% if all_words != [] %}
        Résultats de la recherche "{{all_words[0].spelling}}"
        {% else %}
        Aucun résultat trouvé !
        {% endif %}
        </h1>
    {% for word in all_words %}
    <p>
        {{word.id}}
        {{word.spelling_ipa}}
        {{word.syllables}}
        {{word.syllables_ipa}}
        {% set url1 = '/modify_word/'+word.language+'/'+word.id %}
        <a type="button" href="{{url1}}"> Modifier </a>
        {% set url2 = '/delete/'+word.language+'/'+word.id %}
        <a type="button" href="{{url2}}"> Supprimer </a>
    </p>
    {% endfor %}

{% endblock %}