{% extends "template.html" %}

{% block titre %}Translittération{% endblock %}

{% block corps %}
<div align="center" class="top-buffer">
    <h1 align="center"> Translittération </h1>
    <br/>

    De : <select name="language1" form="word">
        <option value="english">English</option>
        <option value="french">Français</option>
    </select>
    vers : <select name="language2" form="word">
        <option value="french">Français</option>
        <option value="english">English</option>
    </select>
    <br/>

    <form action="" method="post" id="word">
        <input type="text" name="spelling" {% if post %} value="{{word}}" {% endif %} />
        <input type="submit" value="Translittérer !" />
    </form>
</div>

    {% if message != "" %}
    <p align="center"> {{message}} </p>
    {% endif %}

    {% if post %}
    <div align="center" class="top-buffer">
        <p style="font-size:40px;">  {{syllables[0]}}{% for syll in syllables[1:] %} · {{syll}}{% endfor %} </p>
        <p style="color:grey;font-size:20px;">  {{syllables_ipa[0]}}{% for syll in syllables_ipa[1:] %} · {{syll}}{% endfor %} </p>
        <p style="color:grey;font-size:20px;"> {{syllables_ipa2[0]}}{% for syll in syllables_ipa2[1:] %} · {{syll}}{% endfor %} </p>
        <p style="color:grey;font-size:20px;" id="harmonic_mean">{{harmonic_mean}} %</p>
        <p style="font-size:40px;"> {{result[0]}}{% for syll in result[1:] %} · {{syll}}{% endfor %} </p>
    <div/>
    {% endif %}

{% endblock %}