{% extends "template.html" %}

{% block titre %}Base de données{% endblock %}

{% block corps %}

    <p class="top-buffer"> <a  href='/add_word'> Ajouter un mot </a> </p>


    <p class="top-buffer"> Rechercher tous les mots ayant la même écriture </p>
    <select name="language" form="all_words">
        <option value="english">English</option>
        <option value="french">Français</option>
        <option value="italian">Italiano</option>
    </select>
    <form action="/all_words/" method="post" id="all_words">
        <input type="text" name="spelling" />
        <input type="submit" value="Rechercher" />
    </form>

    <p class="top-buffer"> Modifier les phonèmes </p>
    <select name="language" form="phonems">
        <option value="english">English</option>
        <option value="french">Français</option>
        <option value="italian">Italiano</option>
    </select>
    <form action="/phonems/" method="post" id="phonems">
        <input type="submit" value="Rechercher" />
    </form>

{% endblock %}