<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare the syllables and their matching ones</title>
</head>
<body>

    <table>

        <tr>
            <th> Original syllable </th>
            {% for j in range(n_parameters) %}
                <th>
                </th>
                <th>
                    {%for k in list_of_parameters[j].keys()%}
                    <p> {{k}} : {{list_of_parameters[j][k]//1}} </p>
                    {%endfor%}
                </th>
                <th> Score : set {{j+1}}</th>
            {% endfor %}

        </tr>

        {% for i in range(n_sample) %}
            <tr>
                <td style="width:50px"> {{sample[i]}}
                    {% for j in range(n_parameters) %}
                        <td style="width:100px">
                            <INPUT form="choice" type= "radio" name="syllable{{i}}" value={{j}}>
                        </td>
                        <td style="width:100px"> {{list_of_closest[i][j]}} </td>
                        <td style="width:100px"> {{list_of_scores[i][j]}} </td>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    </table>


    <form action="/choice/" method="post" id="choice">
        <input type="hidden" name="list_of_parameters" value="{{list_of_parameters}}" />
        <input type="hidden" name="n_sample" value={{n_sample}} />
        <input type="hidden" name="n_parameters" value={{n_parameters}} />
        <p> <input type="submit" value="Enregistrer" /> </p>
    </form>

</body>
</html>